body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  padding: 20px;
}

.container {
//   max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}
.heading{
    text-align: center;
}
.appointment-type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.option {
  flex: 1;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
//   background: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
  max-width: 300px;
  height: 100px;
  position: relative;
}

.option:last-child {
  margin-right: 0;
}

.option.active {
  background-color: rgb(238, 237, 237);
  color: rgb(0, 0, 0);
  border-color: black;
}
.option input{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 20px;
  height: 20px;
  border-radius: 50%;
  appearance:none;   
  border: 2px solid #555;
  cursor: pointer;
  outline: none;
}
.option span {
  display: block;
  font-weight: normal;
  font-size: 0.9em;
  margin-top: 5px;
}
.category-options{background-color: rgb(232, 230, 230);
margin: 0px 70px;
border-radius: 8px;
padding: 30px;}
.category-options label {
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  
}

.box{
    background-color: white;
    height: 70px;
    margin: 8px 0px;
    padding: 15px;
    padding-left: 45px;
    border-radius:4px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}
.box h3{
font-size: 17px;
font-weight: 500;
}
.box p {
font-size: 14px;
font-weight: 400;
}
.box input{
        position: absolute;
    top: 20px;
    left: 15px;
    width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;   
  border: 2px solid #555;
  cursor: pointer;
  outline: none;
}
#nextStepBtn {
  display: block;
  margin: 30px auto ;
  padding: 10px 20px;
  font-size: 1em;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
}
.stepUp{
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.stepUp i{
  font-size: 22px;
  font-weight: 300;
 
}
.stepUp .circle {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius:50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 40%;
    height: 1px;
    background-color: gray;
}
.box2{
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:200px ;
    // padding: 50px;
    flex-wrap: wrap;
}
.step2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }

    .field-partOne,
    .field-parttwo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1 1 400px;
      align-items: center;
      margin: 20px;
    }

    .input-box {
      width: 70%;
    }

    .input-box p {
      margin: 0 0 5px;
      font-weight: bold;
      font-size: 16px;
      font-weight: 400;
    }

    .input-box input {
      width: 100%;
      height: 35px;
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
    }

    .phone-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .country-code {
      padding: 5px;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      font-size: 14px;
    }

    .phone-wrapper input {
      flex: 1;
      height: 35px;
      padding: 8px 10px;
      // border: 1px solid #ccc;
      outline: none;
      border-radius: 4px;
      font-size: 14px;

    }
    .calendar{
      width: 350px;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  
}

.calendar-header span {
  cursor: pointer;
  font-size: 20px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px 0;
  font-weight: bold;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px;
  color: #999;
}

.calendar-dates div {
  padding: 10px 0;
  border-radius: 6px;
}

.calendar-dates div.current-day {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.calendar-dates div.inactive {
  background-color: #f5f5f5;
}